body{
    margin: 0;
}
header{
    height: 40px;
    background-color: #444;
    align-items: center;
}
header a{ 
    color: rgba(255,255,255,0.6);;
    text-decoration: none;
    justify-content: flex-start;
    margin-left: 15px;
}
header .d-flex{
    justify-content: space-between;
}
.container{
    width: 1000px;
    margin: auto;
}
.d-flex{
    display: flex;
    text-decoration: none;
    text-align: center;
}
.d-flex nav{
    display: flex;
    align-items: center;
}
img{
    vertical-align: middle;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 25px;
    height: 30px;
    margin-left: 5px;  
}
.logo a{
    color: white;
    font-size: 20px;
}
.search-container{
    display: flex;
    height: 40px;
    align-items: center;
}
.search-container input{
    background: rgba(255,255,255,.08);
    height: 38px;
    border: 0;
}
.search-container img{
    width: 20px;
    height: 30px;
}
.download1{
    margin: 0;
    width: 120px;
    height: 40px;
    background-color:#0066B8;
    display: flex;
    align-items: center;
}
.download1 a{
    font-size: 18px;
    color: white;
}
.notification-block{
    padding:10px 0;
    background-color: #25252B;
}
.notification-block p{
    margin: 0;
    text-align: center;
    color: rgb(148, 148, 148);
}
.notification-block a{
    color: #0098FF;
    text-decoration: none;
}
.welcome-container{
    background-color: #444;
    padding:50px 0;
}
.welcome-container img{
    width: 70%;
}
.welcome-text-container{
    width: 30%;
}
.welcome-text-container  p{
    color: white;
    font-size: 15px;
}
.welcome-text-container strong{
    color: white;
    font-size: 30px;
}
.link-container a{
    text-decoration: none;
    flex-grow: 1;
    flex-direction: column; 
    font-size: 17px;
    color: #444;
}
.link-container img{
    width: 60px;
    height: 60px;
    display: block;
    margin: auto;
}
.link-container p{
    text-align: center;
    margin: auto;
    color: black;
}
.windovs-download{
    background-color:#0066B8 ;
    width: 290px;
    margin:2rem 0 0 0;
    height: 4rem;
    display: flex;
}
.windovs-download a{
    font-size: 20px;
    margin-left: 35px;
    text-align: center;
    color: white;
    text-decoration: none;
}
.windovs-download p{
    justify-content: center;
    align-items: center;
    color: white;
}
.windovs-download-top{
    position: relative;
    background-color: #25252B;
    width: 270px;
    padding:10px;
    margin-top: 30px;
    border-radius: 10px;
    color: rgba(255,255,255,0.6);
}
.download{
    width: 40px;
    height: 64px;
    margin-top: -64px;
    margin-left: 245px;
    border-left: 2px solid #444;
}
.download img{
    margin-top: 15px;
}
.windovs-download-top a{
    text-decoration: none;
    color: #0098FF;
    margin-left: 10px;
}
.windovs-download-top2{
    position: relative;
    display: inline-flex;
    width: 200px;
    padding:10px;
    margin-left: -15px;
}
.windovs-download-top2 p{
    text-align: center;
    font-size: 14px;
    color:rgba(255,255,255,0.6);
}
.windovs-download-top2 a{
    text-decoration: none;
    color: #0098FF;
}
.info-container{
    background-color: #f5f5f5;
    height: 200px;
}
.info-container p{
    margin-top:30px;
}
.info-profile{
    display: flex;
}
.info-profile p{
    width: 250px;
    height: 100px;
    flex-grow: 1;
    flex-direction: column; 
    margin-left:50px;
    color: #444;
}
.info-profile a{
    display: block;
    justify-content: flex-start;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.info-profile img{
    border-radius: 30px;
}
.profile{
    height: 150px;
    margin-top:15px;
    margin-left: 210px;
}
.slide{
    width: 33.33%;
    max-width: 33.33%;
}
.div1-text{
    margin-top: 60px;
    margin-left: 70px;
    display: flex;
}
.div1-text img{
    width: 300px;
    height: 200px;
}
.p{
    margin-left: 150px;
    width: 580px;
    height: 150px;
    font-size: 17px;
    color: #444;
}
.p a{
    text-decoration: none;
    font-size: 18px;
    color:#0071bc
}
.p1{
    font-size: 25px;
    margin-right: 330px;
    color: black;
}
.info-container2{
    background-color: #f5f5f5;
    height: 300px;
}
.div2-text{
    margin-top: 60px;
    margin-left: 70px;
    display: flex;
}
.p2{
    margin-right: 90px;
    font-size: 25px;
    color: black;
}
.div2s{
    margin-left: -180px;
}
.p3{
    margin-left: 20px;
    font-size: 25px;
    color: black;
}
.p4{ 
    width: 530px;
    margin-left: 240px;
    font-size: 17px;
}
.p4 a{
    text-decoration: none;
    color: #0071bc;
    font-size: 20px;
}
.div4 {
    width: 300px;
    height: 200px;
    margin-left: 100px;
}
.row-container{
    margin-left: 75px;
}
.row-container h2{
    margin-right: 90px;
    font-size: 30px;
}
.swimlane-getting-started{
    background-color: #f5f5f5;
    height: 350px;
}
.row-home-languages-list{
    max-width: 950px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.row-home-languages-list img{
    display: flex;
    vertical-align: middle;
}
.row-home-languages-list p{
    width: 16.66666667%;
    display: flex;
}
.languegs{
    width: 150px;
    height: 40px;
}
.marketplace-link{
    margin-left: 580px;
}
.marketplace-link a{
    text-decoration: none;
    font-size: 23px;
}
.get{
    display: flex;
    align-items: center;
    width: 220px;
    height: 60px;
    background-color: #0066B8;
    margin-left: 550px;
    margin-top: 30px;
}
.get a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 40px;
}
.down{
    display: inline-block;
    vertical-align: top;
}
.down2 {
    width: 400px;
    display: flex;
} 
.logo-windovs{
    background-color: black;}
button{
    color: white;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    align-items: center;
    width: 240px;
    background-color: #0066B8;
}
button img{
    position: relative;
    margin-right: 15px;
}
button small{
    font-size: 12px;
    display: block;
    color: white;
    margin-top: 15px;
}
   /* finish */
footer{
    background-color: #333;
    font-size: 12px;
    color: #fff;
    padding: 25px 0;
}
.row-ul li{
    margin-left: 20px;
    display: inline-flex;
    font-size: 15px;
}
.row2{
    width: 350px;
    margin-left: 800px;
}
.row2 ul{
    margin-top: -30px;
}
.row-text{
    margin-left: 1170px;
    margin-top: -30px;
    width: 150px;
    height: 40px;
}
.row-text img{
    width: 100px;
    height: 20px;
}
.row-text span{
    display: block;
}